/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background: var(--color-background);
}

img {
	max-width: 20px;
}

header li img {
	max-height: 15px;
}

main img {
	max-width: 100px;
}

h2 {
	font-size: 1em;
}
/* jouw code */

